.post {
  border: 1px solid lightgray;
  background-color: white;
  max-width: 600px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: lightseagreen;
}
.post__header {
  padding: 10px;
  display: flex;
  align-items: center;
}
.post__avatar {
  margin-right: 10px;
}
.post__image {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}
.post__text {
  padding: 20px;
  color: black;
}
span {
  font-weight: bolder;
}
.post__commentBox {
  display: flex;
}
.post__comment {
  flex: 1;
  border: none;
  border-top: 1px solid lightgrey;
  padding: 20px;
}
.post__button {
  border: none;
  border-top: 1px solid lightgrey;
  padding: 10px;
  flex: 0;
  color: lightseagreen;
}
