* {
  margin: 0%;
}
.App {
  background-color: #fafafa;
}
.App__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.App__headerImage {
  object-fit: contain;
}
.App__signup {
  display: flex;
  flex-direction: column;
}
.App__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.App__postsRight {
  margin-left: 40px;
}
.App__loginContainer {
  margin-top: 30px;
}
